body {
    width: 480px;
    padding: 0px;
    margin: 0px;
    background-color: #222;
    color: #ddd;
}

.header {
    width: 100%;
    background-color: black;
    padding: 5px;
    vertical-align: middle;
}

a {
    color: fff;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.header #title {
    font-weight: bold;
}

.header #author {
    font-size: smaller;
}

.main pre {
    color: darkorange;
    display: inline;
}

nav {
    background-color: black;
    padding: 10px;
}

nav .logo {
    color: #ffffff;
    font-size: 1em;
}

nav .logo .title {
    font-weight: bold;
}

nav .logo .author {
    font-size: 0.75em;
    font-weight: bold;
    text-align: right;
}

nav .logo .author a {
    color: #ffffff;
}
